[submodule "External/CommonMark"]
	path = External/CommonMark
	url = git@github.com:jgm/CommonMark.git
[submodule "External/Quick"]
	path = External/Quick
	url = https://github.com/Quick/Quick
[submodule "External/Nimble"]
	path = External/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "External/Ono"]
	path = External/Ono
	url = https://github.com/mattt/Ono.git
