[submodule "External/Quick"]
	path = External/Quick
	url = https://github.com/Quick/Quick
[submodule "External/Nimble"]
	path = External/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "External/Ono"]
	path = External/Ono
	url = https://github.com/mattt/Ono.git
[submodule "External/cmark"]
	path = External/cmark
	url = https://github.com/jgm/cmark.git
